@model Hospital.Models.Patient

@{
    ViewBag.Title = "View Patient Details";
}

@Html.Partial("_Details")

<!--page to display the details of a patient-->
<div class="btn-group col-sm-offset-1">
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id }, new { @class="btn btn-primary" })
	@Html.ActionLink("Delete", "Delete", new { id= Model.Id }, new { @class="btn btn-danger" })
</div>

<br />
<br />
@Html.ActionLink("Back to List", "Index")